<!DOCTYPE html>
<html ng-app="userCards">
<head>
  <meta charset="UTF-8">
  <title>Карточки пользователей</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    .onfocus {
      outline: blue outset 2px;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <user-cards></user-cards>
    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script>
  'use strict';

  var app = angular.module('userCards', []);

  var usersArr = [];
  var xhr = new XMLHttpRequest();
  xhr.open('GET', 'users.json', false);
  xhr.send();
  if(xhr.status == 200) {
    usersArr = JSON.parse(xhr.responseText);
  }  

  app.component('userCard', {
      templateUrl: 'user-card.html',
      bindings: {
        user: "<",
        delElem: '&delElemParent'
      }
  });

  app.component('userCards', {
    template: `
      <user-card  user="user"
                  del-elem-parent="$ctrl.removeElem(event)"
                  ng-repeat="user in $ctrl.users" 
                  ng-click="$ctrl.onFocus($event)">
      </user-card>
    `,
    controller: function() {
      this.users = usersArr;

      this.onFocus = (event) => {
        let panel = this.takeParentInfo(event.target);
        if(!panel) return;
        panel.classList.toggle('onfocus');
      };

      this.takeParentInfo = (elem) => {
        while(elem != document.body) {
          if(elem.classList.contains('panel-info')) {
            return elem;
          }
          elem = elem.parentNode;
        }
      };

      this.removeElem = (event) => {
        let panel = this.takeParentInfo(event.target);
        if(!panel) return;
        panel.remove();
      };
    }
  })
</script>
</body>
</html>