<div class="row">
  <div class="col-xs-12">
    <a ui-sref="user.list"><span class="glyphicon glyphicon-chevron-left"></span> Вернуться</a>
  </div>
  <div class="col-xs-12 text-center">
    <h1>User details</h1>
  </div>
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">
    <div ng-click="$ctrl.setActive($ctrl.index)"
         ng-class="$ctrl.active"
         class="panel panel-profile m-b-0">
      <div ng-style="::$ctrl.background"
           class="panel-heading"></div>
      <div class="panel-body text-center">
        <img ng-src="{{ ::$ctrl.avatar }}"
             class="panel-profile-img">
        <h5 class="panel-title">{{ ::$ctrl.fullName }}</h5>
        <p class="m-b">{{ ::$ctrl.country }}</p>
        <button ng-click="$ctrl.deleteUser($event, $ctrl.index)"
                class="btn btn-primary btn-sm m-b">Удалить</button>
      </div>
    </div>
  </div>
</div>
