/homework/lesson1-components/kliment.rudnichenko/node_modules/
/homework/lesson1-components/kliment.rudnichenko/.idea/
/homework/lesson1-components/kliment.rudnichenko/dist/

/homework/lesson1-components/kliment.rudnichenko/.eslintrc