<div class="panel panel-info m-2">
    <div  class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 grey"><h3>Currency Converter</h3></div>
        <div class="col-sm-3"></div>
    </div>
    <div  class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1 padding"><h3 class="panel-title">From:</h3></div>
        <div class="col-sm-3">
            <input class="form-control col-md-4" ng-model="$ctrl.amountFrom" ng-change="$ctrl.convertFrom()">
        </div>
        <div class="col-sm-2">
            <select class="form-control" ng-options="code as code for (code, rate) in $ctrl.rates" ng-model="$ctrl.codeFrom" ng-change="$ctrl.convertFrom()"></select>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div  class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1 padding"><h3 class="panel-title">To:</h3></div>
        <div class="col-sm-3">
            <input class="form-control col-md-4" ng-model="$ctrl.amountTo" ng-change="$ctrl.convertTo()">
        </div>
        <div class="col-sm-2">
            <select class="form-control" ng-options="code as code for (code, rate) in $ctrl.rates" ng-model="$ctrl.codeTo" ng-change="$ctrl.convertTo()"></select>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div  class="row">
        <div class="col-sm-12">
            <br>
        </div>
    </div>
</div>