<!DOCTYPE html>
<html ng-app="userCards">

<head>
  <meta charset="UTF-8">
  <title>Карточки пользователей</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <user-card></user-card>
  <user-card2></user-card2>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script>
    //Directives
    //Componets
    //Filters

    //Services

    var app = angular.module('userCards', []);
/*
    app.config(($httpProvider) => {
      httpProvider.set('sadfds');
    });

    app.run((UserService) => {
      UserService.setDefaultUser(true);
    });
*/
    app.service('UserService', function () {
      this.random = Math.random();

      this.getOne = (id) => { };
      this.getAll = () => { };
      this.getUser = () => ({ name: 'Bob' });

      this.setRandomUser = function () {

      }

      this.x = 5;
    });
    app.service('UserService2', function (UserService) {
      this.random = UserService.random;

      this.getOne = (id) => { };
      this.getAll = () => { };
      this.getUser = () => ({ name: 'Bob' });

      this.setRandomUser = function () {

      }

      this.x = 5;
    });
    /*
        app.service('CarService', function(WeelService) {
          this.random = Math.random();
        });

        app.service('WeelService', function() {
          this.random = Math.random();
        });
    */
    app.component('userCard', {
      template: '<div> | {{$ctrl.componentR}} <input ng-model="$ctrl.componentR"></div>',
      controller: function (UserService) {
        this.componentR = UserService.random;

        this.getRandom = () => Math.random();

        //fetch()
        //Promise()
        /*
                $http.get('http://ya.ru').then((data) => {
                  this.users = data;
                });
                this.random = UserService.random;
                UserService.x  = 10;*/
      }
    });
    app.component('userCard2', {
      template: '<div> | {{$ctrl.componentR2}} <input ng-model="$ctrl.componentR2"></div>',
      controller: function (UserService2) {
        this.componentR2 = UserService2.random;

        this.getRandom = () => Math.random();

        //fetch()
        //Promise()
        /*
                $http.get('http://ya.ru').then((data) => {
                  this.users = data;
                });
                this.random = UserService.random;
                UserService.x  = 10;*/
      }
    });



    /*
       Dependency Injection

       - short form (with ngAnnoration)
       - full form
       - 'inject' form

       Service-providers types:
       - .service/ .factory !!! одно и тоже !!!
       - .value / .constant
       - .provider  !!! для 3rd party настройки !!!

       Configuration:
       - .config  (for providers)
       - .run   (for services)

       Out of box:
       - $http/$q
       - $timeout/$interval
    */
  </script>
</body>

</html>