<div class="col-xs-6 col-md-4 m-b-lg">
  <div class="panel panel-profile m-b-0"
       ng-click="$ctrl.setActive($ctrl.index)"
       ng-class=panel-default: ($ctrl.activeIndex !== $ctrl.index)">
    <div class="panel-heading"
         ng-style="::$ctrl.background"></div>
    <div class="panel-body text-center">
      <img class="panel-profile-img"
           ng-src="{{ ::$ctrl.avatar }}">
      <h5 class="panel-title">{{ ::$ctrl.fullName }}</h5>
      <p class="m-b">{{ ::$ctrl.country }}</p>
      <button class="btn btn-primary btn-sm m-b"
              ng-click="$ctrl.deleteUser($event, $ctrl.index)">Попрощаться</button>
    </div>
  </div>
</div>
