<!DOCTYPE html>
<html ng-app="moduleBox">
<head>
	<link href="style.css" rel="stylesheet">
</head>
<body>
	<div class="main">
		<mail-box></mail-box>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="mails.js"></script> <!-- let mailsFromServer -->
	<script>
		let moduleBox = angular.module('moduleBox', []);
		moduleBox.component('mailBox', {
			template: `
			<input type="text" ng-model="$ctrl.textFind">
			<hr>
				<mail   ng-repeat="item in $ctrl.mails" 
						mail="item"  
						index="$index"
						text-find="$ctrl.textFind" 
						remove-elem="$ctrl.removeElem(index)"></mail>
			`,

			controller: function() {
				this.mails = mailsFromServer;
				this.textFind = '';

				this.removeElem = (index) => {
					this.mails.splice(index, 1);
				}			
			}
		});

		moduleBox.component('mail', {
			template: `
			<div ng-if="$ctrl.show">
				<!-- <input type="checkbox" ng-model="$ctrl.isChecked"> -->
				<span class="delete" ng-click="$ctrl.removeElem({index: $ctrl.index})">X</span>
				<span class="from">{{$ctrl.mail.from}}</span>
				<span class="text">{{$ctrl.mail.text | textFilter:$ctrl}}</span>
				<span class="date">{{$ctrl.mail.date | dateFilter}}</span>
			<div>
			`,

			controller: function() {

				this.$onChanges = () => {
					this.show = true;
				}

				this.$onDestroy = () => {
					let deltaTime = getDeltaTime(this.mail.date);
					console.log('Жило письмо: ' + (Array.isArray(deltaTime) ? deltaTime[1] + " дней" : deltaTime));
				}

			},

			bindings: {
				mail: "<",
				index: "<",
				textFind: "<",
				removeElem: "&"
			}, 

		});

		moduleBox.filter('dateFilter', function() {
			return (date) => {
				return Array.isArray(getDeltaTime(date)) ? getDeltaTime(date)[0] : getDeltaTime(date) + " назад" ;
			}
		});

		moduleBox.filter('textFilter', function() {
			return (textField, ctrl) => {
				if(textField.toLowerCase().indexOf(ctrl.textFind.toLowerCase()) >= 0) {
					ctrl.show = true;
					return textField;
				}
				ctrl.show = false;
			}
		});

		function getDeltaTime(date) {
			let months = ['января','ферваля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'];

			let timeAgo = Math.floor((new Date() - date)/1000/60); //minutes
			if(timeAgo < 60) {
				if((timeAgo >= 11 && timeAgo <= 14) || timeAgo % 10 == 0 || timeAgo % 10 >= 5) return (timeAgo + ' минут');
				if(timeAgo % 10 == 1) return (timeAgo + ' минуту');
				if(timeAgo % 10 > 1 && timeAgo % 10 < 5) return (timeAgo + ' минуты');					 
			}

			timeAgo = Math.floor(timeAgo /= 60); 				  //hours
			if(timeAgo < 24) {
				if( (timeAgo >= 11 && timeAgo <= 14) || timeAgo % 10 == 0 || timeAgo % 10 >= 5) return (timeAgo + ' часов');
				if(timeAgo % 10 == 1) return (timeAgo + ' час');
				if(timeAgo % 10 > 1 && timeAgo % 10 < 5) return (timeAgo + ' часа');
			}

			timeAgo = Math.floor(timeAgo /= 24);					  //days
			if(timeAgo < 7) {
				if(timeAgo == 1) return (timeAgo + ' день');
				if(timeAgo > 1 && timeAgo < 5) return (timeAgo + ' дня');
				if(timeAgo >= 5) return (timeAgo + ' дней');
			}
			
			return ([date.getDate() + ' ' + months[date.getMonth()], timeAgo]);
		}
	</script>
</body>
</html>
