
<div ng-repeat="card in userCardService.cards" class="panel panel-info"
     ng-click="userCardService.selected(card, $index)"
     tabindex="1">
    <div class="panel-heading">
        <h3 class="panel-title">{{card.firstName}} {{card.surname}}</h3>
        <button type="button" class="btn btn-default"
                ng-click="userCardService.delete(card, $index)">Удалить</button>

    </div>
    <div class="panel-body">
        <div class="row">
            <div class=" col-md-9 col-lg-9 ">
                <img ng-src="{{card.photo}}" alt="Нет фото" style="width:500px;">
                <table class="table table-user-information">
                    <tbody>
                    <tr><td>firstName:</td><td>{{card.firstName}}</td></tr>
                    <tr><td>surname:</td><td>{{card.surname}}:</td></tr>
                    <tr><td>country:</td><td>{{card.country}}:</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
    </div>
</div>