<div ng-if="$ctrl.authUser.auth">
    <button ng-click="$ctrl.auth(false)">Выход</button>
    <span>Вы вошли как {{$ctrl.authUser.user.email}}</span>
</div>

<div ng-show="$ctrl.authUser.auth">
    ============================================================
</div>

<div ng-if="$ctrl.authUser.auth">
    <a ui-sref="currency" ui-sref-active="active">Валюта</a>
    <a ui-sref="users" ui-sref-active="active">Пользователи</a>
</div>

<div ng-show="$ctrl.authUser.auth">
    ============================================================
</div>

<div ui-view></div>