<form name="$ctrl.regForm" ng-if="!$ctrl.authUser.auth">

    <h2>Форма регистрации</h2>

    <div class="form-group">
        <label for="name">Псевдоним<span class="red">*</span></label>
        <input type="text"
               id="name"
               name="name"
               ng-model="$ctrl.name"
               ng-minlength="3"
               ng-maxlength="10"
               ng-required="true">
    </div>
    <div class="red" ng-show="$ctrl.regForm.name.$invalid && $ctrl.regForm.name.$touched">
        Псевдоним должен быть от 3 до 10 символов
    </div>

    <div class="form-group">
        <label for="email">Почта<span class="red">*</span></label>
        <input type="text"
               id="email"
               name="email"
               ng-model="$ctrl.email"
               ng-minlength="7"
               ng-pattern="$ctrl.regexp.email"
               ng-required="true">
    </div>
    <div class="red" ng-show="$ctrl.regForm.email.$invalid && $ctrl.regForm.email.$touched">
        некоректный адресс почты
    </div>

    <div class="form-group">
        <label for="password">Пароль<span class="red">*</span></label>
        <input type="password"
               id="password"
               name="password"
               ng-minlength="8"
               ng-model="$ctrl.password"
               ng-required="true">
    </div>
    <div class="red" ng-show="$ctrl.regForm.password.$invalid && $ctrl.regForm.password.$touched">
        длинна пароля должна быть больше восьми символов
    </div>

    <div class="form-group">
        <label for="passwordR">Повторить пароль<span class="red">*</span></label>
        <input type="password"
               id="passwordR"
               name="passwordR"
               ng-minlength="8"
               ng-model="$ctrl.passwordR"
               ng-disabled="$ctrl.regForm.password.$invalid"
               ng-required="true">
        <div class="red" ng-show="$ctrl.regForm.passwordR.$touched && $ctrl.password != $ctrl.passwordR">
            пароль не совпадает
        </div>
    </div>

    <div ng-if="!$ctrl.authUser.auth">
        <button ng-click="$ctrl.reg()" ng-disabled="$ctrl.regForm.$invalid">Регистрация</button>
    </div>
</form>

<div class="homer" ng-show="$ctrl.authUser.auth">
    <h3>Поздравляю!</h3>
    <h3>Вы зарегестрированны, но так как это учебный проект, то ваши данные никуда не сохраняются.</h3>
    <div>_______________$$$$</div>
    <div>____________$$______$______</div>
    <div>_________$$_$_$$$________$$$</div>
    <div>_________$_$$________________$</div>
    <div>_________$$__$________________$$</div>
    <div>________$$$_____________________$</div>
    <div>________$_______________________$$</div>
    <div>________$________________________$$$</div>
    <div>________$_______________$$____$$_____$</div>
    <div>________$_____________$$________$_____$</div>
    <div>_________$____$$_____$$_____$$__$__$__$</div>
    <div>__________$$__$$$_____$_________$____$$</div>
    <div>___________$$$$_$$_____$$_____$$_______$</div>
    <div>_____________$____$____________$$$$$$$$</div>
    <div>_____________$$$$$_________$$__________$</div>
    <div>_____________$_$$_______$$______________$$</div>
    <div> ______________$$$$_____$_________________$</div>
    <div> ________________$____$$__________________$$</div>
    <div>________________$____$_$$$__$$$$$$$$$$$$</div>
    <div>________________$____$$___________$$</div>
    <div>________________$_____$$__________$</div>
    <div>_____________$$$$_______$$_______$</div>
    <div>_____________$____$$_______$$$$$$</div>
    <div> ____________$__________$$$_____$__$</div>
    <div> ____________$_______________$___$_$</div>
    <div> _____________$$$___________$__$_$$$__$</div>
    <div> ___________$$$$_$$$________$___$_$_$$$$</div>
</div>