<div>
	<div class="container">
	<div class="row">
		<div class="form-group col-md-6">
		   <input ng-model="searchstr" type="text" class="form-control" placeholder="Поиск в почтовом ящике"/>
		</div>

		<div class="form-group col-md-6">
		
</div>
</div>
	<div class="row">

	</div>
	</div>
  	<div class="container" ng-repeat="letter in $ctrl.letters | filter:searchstr"">
    	<div class="row">
      	<div class="col-md-6">
        	<letter letter="letter" delmail="$ctrl.deleteItem(item)">
        	</letter>
      	</div>
    	</div>
	</div>
</div>