body {
  font-family: Arial, sans-serif;
}
    .photo {
      width: auto !important;
      max-width: 100px !important;
    }

/* Header */
header {
  background-color: #f1f1f1;
  padding: 13px 0;
}

.logo {
  padding: 0 30px;
}

.search-bar {
  padding-left: 0;
  position: relative;
}

.btn-main {
  background-color: #4285f4;
  color: #fff;
  padding-right: 25px;
  padding-left: 25px;
}

.arrow {
  color: #c1c1c1;
  position: absolute;
  right: 90px;
  top: 15px;
  z-index: 9;
}

.profile-icons {
  margin-bottom: 0;
}
.profile-icons li {
  margin-left: 10px;
}

.bell {
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  padding: 3px;
  height: 25px;
  width: 25px;
  text-align: center;
}


/* Control bar */
.control-bar {
  border-bottom: 1px solid #f1f1f1;
}

.menu {
  font-size: 19px;
  color: #d14836;
  padding: 10px 30px;
}

.controls {
  padding: 10px 0;
}

.control-list {
  margin-bottom: 0;
}

.btn-control {
  background-color: #f1f1f1;
  border-color: #d1d1d1;
  width: 72px;
  height: 27px;
  padding: 0;
}

input.mail-select {
  margin: 0;
}

.text-btn {
  font-size: 11px;
}


/* Mail */
.sidebar {
  padding-left: 30px;
  padding-top: 10px;
}

.compose {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 30px;
}

.inbox-sections li {
  margin-top: 10px;
  font-size: 13px;
}
.inbox-sections .active {
  color: #d14836;
  font-weight: bold;
}

.inbox-sections .pending {
  font-weight: bold;
}

.inbox {
  padding-right: 30px;
}

.email-item {
  padding: 10px 0;
  border-bottom: 1px solid #d0d0d0;
  background-color: #f3f3f3;
  font-weight: normal;
}

.email-item.unread {
  font-weight: bold;
  background-color: #fff;
  color: #000;
}

.people-names {
  font-size: 13px;
}

.mail-icons {
  display: inline-block;
  margin-right: 10px;
}

.message h3 {
  font-size: 13px;
  font-weight: normal;
  display: inline;
}

.unread .message h3 {
  font-weight: bold;
}

.clipper {
  overflow: hidden;
  white-space: nowrap;
}

.message p {
  font-size: 13px;
  font-weight: normal;
  display: inline;
}

.date {
  font-size: 13px;
}
.TRApmc {
    bottom: 0;
    margin-bottom: 24px;
    margin-right: 24px;
    right: 0;
}
.XHsn7e {
    background-color: #e91e63;
    border: none;
    border-radius: 50%;
    box-sizing: content-box;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    display: inline-block;
    fill: #fff;
    height: 56px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    top: -10px;
    width: 56px;
    z-index: 4000;
}
.Ip8zfc {
    display: inline-block;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 16px;
    width: 24px;
    transform: rotate(0);
    transition: all .3s ease-in-out;
}
.iYm0K {
    color: #fff;
    cursor: pointer;
}
.iYm0K:after {
    font-family: '';
    font-weight: bold;
    font-style: normal;
    font-size: 26px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    direction: ltr;
    content: '+';
}
#loginForm {
    width: 290px;
    padding: 24px 24px 0;
    margin: 200px auto 0;
    background: #FEFEFE;
    border: 1px solid #CAD8DE;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    font: 14px/18px Arial, Tahoma, sans-serif;
    color: #444;
}
#loginForm .field {
    margin: 0 0 18px;
}
#loginForm .field label {
    display: block;
    margin: 0 0 11px;
}
#loginForm .field .input {
    border-radius: 4px;
}
#loginForm .field input {
    font: 12px Arial, Tahoma, sans-serif;
    color: #444;
    width: 242px;
    padding: 9px 13px;
    border: 1px solid #D2D9DC;
    border-radius: 3px;
    box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
    outline: none;
}
#loginForm .field input:focus {
    border-color: #B7D4EA;
    box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
}

#loginForm .submit {
    overflow: hidden;
    margin: 30px -24px 0;
    padding: 22px 24px;
    background: #F0F5F7;
    border-top: 1px solid #DDE0E8;
    border-radius: 0 0 4px 4px;
    box-shadow: inset 0 1px #FFF, inset -1px -1px #F7FAFB, inset 1px 0 #F7FAFB;
    font-size: 11px;
}
#remember {
    display: block;
    margin: 5px 0 0;
    cursor: pointer;
}
#remember input {
    margin: 0 4px 0 0;
    vertical-align: middle;
}

#loginForm .submit button {
    float: right;
    padding: 6px 20px;
    height: 30px;
    border-top: 1px solid #98CCE7;
    border-bottom: 1px solid #7DB0CC;
    border-left: 1px solid #8CBFD9;
    border-right: 1px solid #8CBFD9;
    border-radius: 15px;
    color: #FFF;
    font: bold 13px Arial, Tahoma, sans-serif;
    box-shadow: inset 0 1px #D4EBF7, 0 1px 3px #B8BEBE;
    background: -moz-linear-gradient(top,  #badff3 0%, #7acbed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#badff3), color-stop(100%,#7acbed));
    background: -webkit-linear-gradient(top,  #badff3 0%,#7acbed 100%);
    background: -o-linear-gradient(top,  #badff3 0%,#7acbed 100%);
    background: -ms-linear-gradient(top,  #badff3 0%,#7acbed 100%);
    background: linear-gradient(top,  #badff3 0%,#7acbed 100%);
    background-color: #9FD7F0;
    cursor: pointer;
    text-shadow: 0 -1px rgba(0,0,0,0.15);
    outline: none;
}
#loginForm .submit button::-moz-focus-inner{border:0}
